server:
  port: 8080
spring:
  application:
    name: config-client
  config:
    import: optional:configserver:http://admin:secret@config-server:9090
    #import: optional:configserver:http://admin:secret@localhost:9090
management:
  endpoints:
    web:
      exposure:
        include:
        - "*"